<html>
<head></head>
<body>
<h1>Ajouter une donnés en session</h1>
<form method='post'>
    <label>Clé</label>
    <input name='cle' placeholder='cle'><br>
    <label>Valeur</label>
    <input name='valeur' placeholder='valeur'>
    <input type='submit'>
</form>
<h2>Mes variables de session !</h2><br>

<ol>
    {% for key, value in sessionVars %}
        <li>{{ key }} - {{ value }}</li>
    {% endfor %}
</ol>
</body>
</html>