<html>
<head>

</head>
<body>
<h1>Hello world !</h1>
<h2>Je suis un template TWIG</h2>
Bonjour {{ firstname }} - {{ lastname }}

<h1>Ma todoliste :</h1>
<a href="{{ path('task_app_task_addtask') }}">
    Ajouter un élément dans ma todo
</a>
<ul>
    {% for elem in sessionVars %}
        <li>{{ elem }}</li>
    {% endfor %}
</ul>

<ol>
        {% for i in 1..10 %}
            {% if i%2==0 %}
                <li>{{ i }}</li>
            {% endif %}
        {% endfor %}
</ol>

</body>
</html>