<html>
    <head>
        {% if theme == 'dark' %}
            <style>
                body{
                    color: white;
                    background-color: black;
                }
            </style>
        {% endif %}

    </head>
<body>
{% if consent == "yes" %}
    <h1>Vous avez accepté les cookies</h1>
    {% if(theme != 'dark') %}
        <a href="{{ path('cookie_themeswitch', {"color": "dark"}) }}">Mettre en noir</a>
    {% else %}
        <a href="{{ path('cookie_themeswitch', {"color": "white"}) }}">Mettre en white</a>
    {% endif %}
{% else %}
    <h1>Vous n'avez pas accepté les cookies</h1>
    <a href="{{ path('cookie_consent') }}">Accepter les cookies</a>
{% endif %}
</body>
</html>