<html>
<head></head>
<body>
<h1>Ajouter une tache</h1>
<form method='post'>
    <label>Libelle</label>
    <input name='task' placeholder='Tache'>
    <input type='submit'>
</form>
<a href='{{ path('task_show') }}'>Voir ma todo list</a>
</body>