<html>
<head></head>
<body>
<h1>Ma todo list</h1><br>

<ul>
    {% for key, value in taches %}
        <li>{{ value }} <a href="{{ path('task_app_task_deletetask', {'index': key}) }}">Supprimer</a></li>
    {% endfor %}
</ul>

<a href='{{ path('task_add') }}'>Ajouter une tâche</a>
</body>